<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131897622519-jp63jhr670o6nm338qiflhu09dm7a95c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131897622519-jp63jhr670o6nm338qiflhu09dm7a95c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131897622519-8kvug1ms9a7vbhfk9hbust6llub1umk9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzZiTOI3aNEfkY8lFbL-pUHk7wYsZcgno</string>
	<key>GCM_SENDER_ID</key>
	<string>131897622519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhorizonstudios.lastbrick</string>
	<key>PROJECT_ID</key>
	<string>lastbrick-3d</string>
	<key>STORAGE_BUCKET</key>
	<string>lastbrick-3d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131897622519:ios:53d9614adfb01ab71378f2</string>
</dict>
</plist>